/bin
/bin/Debug
/obj
/obj/Debug/net6.0/staticwebassets
staticwebassets.pack.sentinel
obj/staticwebassets.pack.sentinel
obj/*
appsettings.json
bin/Debug/net6.0/appsettings.json
appsettings.json
bin/Debug/net6.0/appsettings.json
appsettings.json
